
<div class="form-group">
       <label>Dietary Restrictions</label>
    <input type='text' name='diet' class="form-control" placeholder="Vegetarian, gluten free, etc.">
</div>

<div class="form-group">
    <label>Additonal Information</label>
    <textarea name='comments' class="form-control" placeholder="Shoe size, any gear you need from DOR, etc."></textarea>
</div>
