extends layout


block content


  #container
    #header
      h1 #{title}
      p Welcome  #{user}
    #content
      form(method='post' enctype='multipart/form-data')
        text Time:
        input(type='text' name='time')
        br
        text Destination:
        input(type='text' name='dest')
        br
        text Cost:
        input(type='text' name='cost')
        input(type='text' name='leader' value='#{user}' hidden='True')
        input(type='submit', value='Add Trip')