extends layout

block content

  text Your permissions:
  br
  form(method='post' enctype='multipart/form-data')
    input(type='checkbox' name='be_leader' checked=user.is_leader) 
    text Leader
    br
    input(type='checkbox' name='be_chair' checked=user.is_chair) 
    text Chair
    br
    input(type='checkbox' name='be_opo' checked=user.is_opo) 
    text OPO
    br
    input(type='checkbox' name='be_admin' checked=user.is_admin) 
    text Admin
    br
    input(type='submit' value='Set Permissions')