// signup mixin prototype. we use these a lot, hence the 
// generalized model
// 
mixin _signup(trip, submit_text)
    form(method='post' enctype='multipart/form-data')
        +_signup_body()
        input(type='text' name='trip_id' value='#{trip._id}' hidden='True')
        input(type='submit', value='#{submit_text}')

mixin _signup_body()
    text Your Dietary Restrictions:
    input(type='text' name='diet' style="width:200px;")
    br
    text My additonal information (ex: my shoe size, gear I need from DOR, etc.):
    br
    textarea(name='comments' rows='4' cols='50')
    br

mixin leader_signup(trip)
    +_signup(trip, 'Lead this trip')

mixin heeler_signup(trip)
    +_signup(trip, 'Ask to heel this trip')

mixin trippee_signup(trip)
    +_signup(trip, 'Signup')
  
