extends layout

block content
  h1#title=title
  p#content Welcome #{user.username}
  //p. 
  //  Your Dartmouth WebAuth username is 
  //  #{user.username}
  //  and your netid is 
  //  #{user.netid}
  a(href='/this_week') This Week in CnT