extends layout

block content
  h1#title=title
  p#content Welcome #{user.name}
  p. 
     Your netid is 
     #{user.netid}
     and we are using 
     #{user.email}
     as your email.
  a(href='/this_week') This Week in CnT
  