
mixin signup(trip, user)
      form(method='post' enctype='multipart/form-data')
        text Dietary Restrictions:
        input(type='text' name='diet')
        br
        text Comments:
        br
        textarea(name ="comments" rows="4" cols="50")
        br
        input(type='text' name='trip_id' value='#{trip.id}' hidden='True')
        input(type='text' name='user' value='#{user}' hidden='True')
        input(type='submit', value='Signup')
  

doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript' src='js/scripts.js')
    link(rel='stylesheet', type='text/css', href='/stylesheets/jquery.datetimepicker.css')
    script(src='js/jquery.js')
    script(src='js/jquery.datetimepicker.js')
    script(src='js/onlyNumbers.js')
  body
    block content