
mixin signup(trip, user)
      form(method='post' enctype='multipart/form-data')
        text Dietary Requirement:
        input(type='text' name='diet')
        br
        text Comments:
        input(type='text' name='comments')
        br
        input(type='text' name='trip_id' value='#{trip.id}' hidden='True')
        input(type='text' name='user' value='#{user}' hidden='True')
        input(type='submit', value='Signup')
  

doctype html
html
  head
    title= title
    //- link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript' src='js/scripts.js')
    script(type='text/javascript' src='js/jquery-1.4.2.min.js')
  body
    block content