
doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript' src='js/scripts.js')
    link(rel='stylesheet', type='text/css', href='/stylesheets/jquery.datetimepicker.css')
    script(src='js/jquery.js')
    script(src='js/jquery.datetimepicker.js')
    script(src='js/onlyNumbers.js')

  div#top_navbar
    ul
      li.active
        a(href='/') 
          span Sign up for trips
      li
        a(href='/lead_trip')
          span Lead a trip
      li
        a(href='/manage_trips')
          span Mange my trips
      li.last
        a(href='/develop')
          span Develop
  body
    block content