<% include header.ejs %>
<body>
    <h2> Create a new trip </h2>
    <div id="create_trip_form">
        <form method='post' role='form' enctype='multipart/form-data' action='/create_trip'>
            <div class="form-group">
                <label>Trip Title</label>
                <input type='text' name='title' class="form-control">
            </div>

            <div class="form-group">
                <label>Start Time</label>
                <input type='text' id='startpicker' name='start' class="form-control">
                <script>
                $(function(){$('#startpicker').datetimepicker({minDate:'0', step:30});});
                </script> 
            </div>

            <div class="form-group">
                <label>End Time</label>

                <input type='text' id='endpicker' name='end' class="form-control">
                <script>
                $(function(){$('#endpicker').datetimepicker({minDate:'0', step:30});});
                </script>
            </div>

            <div class="form-group">
                <label>Cost for D.O.C. members</label>
                <!-- from http://www.webstutorial.com/jquery-allow-only-numbers/jquery -->
                <input type='text' name='costDOC' class="onlyNumbers form-control" >
            </div>

            <div class="form-group">
                <label>Cost for non-D.O.C. members</label>
                <input type='text' name='costNonDOC' class="onlyNumbers form-control">
            </div>

            <div class="form-group">
                <label>Description</label>
                <textarea name="description" class="form-control"></textarea>
            </div>
            
            <% include signup_forms/signup_body %>
            <% if (user.is_leader){ %>
                <input type='submit', value='Create Trip'>
            <% }else{ %>
                <input type='submit', value='Propose Trip'>
            <% } %>
        </form>
    </div>

    <h2> Heel/Lead existing trip </h2>

    <div id="needs">
        <ul>    
            <% trips.forEach(function(trip){ %>
                <li>
                    <% include display_trip.ejs %><br>
                    <% if (trip.leader_signup){ %>
                        <% include signup_forms/heeler_signup_form.ejs %>
                    <% }else{ %>
                        <% include signup_forms/leader_signup_form.ejs %>
                    <% } %>
                    <br>
                </li>
            <% }) %> 
        </ul>
    </div>
</body>
<% include footer.ejs %>
