<% include header.ejs %>

<div class="container">
    <h2> Create a new trip </h2>   

    <div class="panel panel-default">
        <div class="panel-body">

            <form method='post' role='form' enctype='multipart/form-data' action='/create_trip'>
                <div class="form-group">
                    <label>Trip Title</label>
                    <input type='text' name='title' class="form-control">
                </div>

            <!-- Use this to have the label to left of input fields:
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
            </div>
        </div> -->

                <div class="form-group">
                    <label>Start Time</label>
                    <input type='text' id='startpicker' name='start' class="form-control">
                    <script>
                    $(function(){$('#startpicker').datetimepicker({minDate:'0', step:30});});
                    </script> 
                </div>

                <div class="form-group">
                    <label>End Time</label>

                    <input type='text' id='endpicker' name='end' class="form-control">
                    <script>
                    $(function(){$('#endpicker').datetimepicker({minDate:'0', step:30});});
                    </script>
                </div>

                <div class="form-group">
                    <label>Cost for D.O.C. members</label>
                    <!-- from http://www.webstutorial.com/jquery-allow-only-numbers/jquery -->
                    <input type='text' name='costDOC' class="onlyNumbers form-control" >
                </div>

                <div class="form-group">
                    <label>Cost for non-D.O.C. members</label>
                    <input type='text' name='costNonDOC' class="onlyNumbers form-control">
                </div>

                <div class="form-group">
                    <label>Description</label>
                    <textarea name="description" class="form-control"></textarea>
                </div>

                <% include signup_forms/signup_body %>
                <button type='submit' class="btn btn-default">
                    <% if (user.is_leader){ %>
                    Create Trip
                    <% }else{ %>
                    Propose Trip
                    <% } %>
                </button>

            </form>

        </div>
    </div>

    <h2>Heel/Lead existing trip</h2>

    <ul class="list-group">   
        <% trips.forEach(function(trip){ %>
        <li class="list-group-item">
            <% include display_trip.ejs %>
            <% if (trip.leader_signup){ %>
                <% include signup_forms/heeler_signup_form.ejs %>
            <% } else { %>
                <% include signup_forms/leader_signup_form.ejs %>
            <% } %>
        </li>
        <% }) %> 
    </ul>

</div> 
<% include footer.ejs %>
