extends layout
include forms
include models

block content

  #container
    #header
      h1 #{title}
      text Welcome  #{user.name}
      form(method='post' action="/logout") 
        input(type="submit" value="Not you?")
      br
    #content
    p
      form(method='post' enctype='multipart/form-data' action='/create_trip')
        text Trip Title: 
        input(type='text' name='title' style="width:200px;")
        br
        text Start Date and Time:
        input(type='text' id='startpicker' name='start')
        script
          $(function(){$('#startpicker').datetimepicker({minDate:'0', step:30});});
        br
        text End Date and Time:
        input(type='text' id='endpicker' name='end')
        script
          $(function(){$('#endpicker').datetimepicker({minDate:'0', step:30});});
        br
        text Cost for D.O.C. members: 
        //from http://www.webstutorial.com/jquery-allow-only-numbers/jquery
        input(type='text' name='costDOC' style="width:30px;" class="onlyNumbers")
        br
        text Cost for non-D.O.C. members: 
        input(type='text' name='costNonDOC' style="width:30px;" class="onlyNumbers")
        br
        text Description:
        br
        textarea(name="description" rows="5" cols="60")
        br
        br
        +_signup_body()
        if user.is_leader
            input(type='submit', value='Create Trip')
        else
            input(type='submit', value='Propose Trip')
    p
      ul
        each trip in trips
            li 
                +display_trip(trip)
                // change this so that the signup is conditional
                // on leader status
                if trip.leader_signup
                    +heeler_signup(trip)
                else
                    +leader_signup(trip)

