<% include header.ejs %>

<div class="container">

    <div class="row">
        <div class="col-md-6">
          
            <ul class="list-group">
                <% trips.forEach(function(trip) { %>
                    <% var signup_type = trip.getSignupForUser(user).type; %>
                    
                    <li class="list-group-item">
                    <% include display_trip.ejs %>

                    <% if ('leader' == signup_type) { %>
                        <a href="/manage_trips/<%= trip.id %>">Manage</a>
                    <% } else if ('heeler' == signup_type) { %>
                        <a href="/manage_trips/<%= trip.id %>">Manage</a>
                    <% } else if ('waitlisted' == signup_type) { %>

                    <% } else if ('approved' == signup_type) { %>

                    <% } %>
                    <br> You are signed up for this trip as <b><%= signup_type %></b>
                    </li>
                <% }); %>
            </ul>
        </div>
    </div>
</div>

<% include footer.ejs %>