<% include header.ejs %>
<div class="container">
	<div id="trips_happening">
		<h2> Upcoming Trips </h2>
		<ul>	
			<% trips.forEach(function(trip){ %>
				<li>
					<% include display_trip.ejs %><br>
		            <% include signup_forms/trippee_signup_form.ejs %><br>
		        </li>
			<% }) %> 
		</ul>
	</div>
</div>
<%include footer.ejs %>
