extends layout


block content


  #container
    #header
      h1#title=title
      p Welcome #{user}
    #content
      #sidebar
        h1 Your Tools!
        ul
          li: a(href='/') Manage Trips
          li: a(href='/add_trip') Add Trip
      #main
        ul
          each trip in trips
            li
              ul
                each value, key in trip
                  li #{key} : #{value}
                +signup(trip, user)
