<% include header.ejs %>
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<h2> Upcoming Trips </h2>
			<ul class="list-group">	
				<% trips.forEach(function(trip){ %>
				<li class="list-group-item">
					<% include display_trip.ejs %>
					<% if (!trip.user_is_leader 
						&& !trip.user_is_heeler
						&& !trip.user_is_waitlisted
						&& !trip.user_is_approved ) { %>
					    <% include signup_forms/trippee_signup_form.ejs %>
					<% } %>
				</li>
				<% }) %> 
			</ul>
		</div>
	</div>
</div>
<%include footer.ejs %>
