extends layout
include forms
include models

block content

  #container
    #header
      h1#title=title
      p Welcome #{user.name}
    #content
      #sidebar
        h1 Your Tools!
        ul
          li: a(href='/') Manage Trips
          li: a(href='/add_trip') Add Trip
      #main
        ul
          each trip in trips
            li
              ul
                +display_trip(trip)
                br
                +trippee_signup(trip, user)
                br
