
<% include header.ejs %>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <% include display_trip.ejs %>

            <div class="row">
                <div class="col-md-3">
                    <b>Signups: </b><br>

                    <div class="btn-group-vertical"> 
                        <% trip.waitlist_signups.forEach(function(signup){ %>
                        <form method="post" role="form" enctype='multipart/form-data'>
                            <input type='text' name='approve_signup' value=<%= signup.id%> hidden='True'>
                            <button type="submit" class="btn btn-warning">
                                <%= signup.user_info.name %>
                                <!--<span class="glyphicon glyphicon-remove-circle"></span>-->
                            </button>
                        </form>
                        <% }); %>
          
                        <% trip.approved_signups.forEach(function(signup){ %>
                        <form method="post" role="form" enctype="multipart/form-data">
                            <input type='text' name='waitlist_signup' value=<%= signup.id%> hidden="True">
                            <button type="submit" class="btn btn-success">
                               <%= signup.user_info.name %>
                               <span class="glyphicon glyphicon-ok"></span>
                           </button>
                       </form>
                        <% }); %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    
<% include footer.ejs %>