
<% include header.ejs %>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <% include display_trip.ejs %>

            <div class="row">
                <div class="col-md-3">
                    <b>Signups: </b><br>
                    <div class="button-group-vertical"> 
                        <% trip.waitlist_signups.forEach(function(signup){ %>
                            <button type="button" class="btn btn-warning">
                                <%= signup.user_info.name %>
                                <span class="glyphicon glyphicon-ok"></span>
                            </button>
                        <% }); %>
                    </div>
                        <% trip.approved_signups.forEach(function(signup){ %>
                            <button type="button" class="btn btn-success">
                               <%= signup.user_info.name %>
                               <span class="glyphicon glyphicon-remove"></span>
                           </button>
                        <% }); %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>    
<% include footer.ejs %>