
<% include header.ejs %>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <% include display_trip.ejs %>
            <b>Waitlisted signups: </b> 
            <%= trip.waitlist_signups.length == 0 ? 'None' : trip.waitlist_signups %><br>
            <b>Approved signups: </b> 
            <%= trip.approved_signups.length == 0 ? 'None' : trip.approved_signups %><br>
        </div>
    </div>
</div>    
<% include footer.ejs %>