body {
  padding: 50px;
  background: #FFC153;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #363636;
  text-align: center;
}
h1#title {
  font-size: 40px;
}
a {
  color: #363636;
}
#main {
  text-align: left;
}
ul
{
list-style-type: none;
}